---
import { localizePath, localizeUrl } from "astro-i18next";
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import { cc } from "../../layouts/Layout.astro";
import Column from "../../components/Column.astro";
import Image from "../../components/Image.astro";
import Button from "../../components/btns/Button.astro";

changeLanguage("es");

const crypto = cc("crypto");
const sec1 = crypto.sec1;
const sec2 = crypto.sec2;
const styles = {
    content: function (type, ts, tsLg, tc, tw, mb) {
        return `${type} ts-${ts} ts-lg-${tsLg} tc-${tc} tw-${tw} mb-${mb}`;
    }
};
---

<Layout>
  <Section sectionName="1">
    <Column>
      <h1 class:list={styles.content("tit", 24, 48, "primary", 800, 4)}>
        {sec1.title}
      </h1>
      <p class={styles.content("txt", 18, 24, "gray", 500, 4)}>
        {sec1.text}
      </p>
      <Button
        btnHref={localizeUrl("btns.registration.link")}
        btnTitle={t("btns.registration.title")}
      />
    </Column>
    <Column>
      <Image />
    </Column>
  </Section>
  <Section sectionName="2">
    <Column
      colsLg="12"
      justify="center"
      align="center">
      <h2 class:list={styles.content("tit", 24, 48, "primary", 800, 5)}>
        {sec2.title}
      </h2>
      <p class={`${styles.content("txt", 18, 24, "gray", 500, 4)} ta-center`}>
        {sec2.text}
      </p>
      <Button
        btnHref={localizeUrl("btns.login.link")}
        btnTitle={t("btns.login.title")}
      />
    </Column>
  </Section>
</Layout>
